@font-face {
    font-family: 'FixedsysExcelsior';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fsex300-webfont.eot');
    src: url('../fonts/fsex300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fsex300-webfont.woff') format('woff'),
         url('../fonts/fsex300-webfont.ttf') format('truetype'),
         url('../fonts/fsex300-webfont.svg#FixedsysExcelsior301Regular') format('svg');
    -webkit-font-smoothing: aliased;
    font-smooth: never;
}

html {
  width: 100%;
}

body {
  font-family: Courier, monospace;
  margin: 1em, auto;
  max-width: 75%; 
  line-height: 1.6;
  font-size: 18px;
  color:#444;
}

h1, h2, h3 {
  line-height:1.2;
  font-family: 'FixedsysExcelsior';
  color: #444;
}

a {
  font-family: 'FixedsysExcelsior';
  color: black;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.site-header {
  background-color: #c9ffe5;
  margin: 1em;
  padding: .5em .5em .5em .5em;
  border: 3px solid;
  box-shadow: 5px 10px;
}

#disqus_thread {
  background-color: #c9ffe5;
  margin: 1em;
  padding: 1em;
  border: 3px solid;
  box-shadow: 5px 10px;
}

.footer {
  margin: 1em;
  padding: .5em;
  bottom: 0;
  background-color: #c9ffe5;
  border: 3px solid;
  box-shadow: 5px 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body {
    font-family: Courier, monospace;
    margin: 1em, auto;
    /*max-width: 75%;*/ 
    line-height: 1.6;
    font-size: 18px;
    color:#444;
  }
}