@font-face {
    font-family: 'FixedsysExcelsior';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fsex300-webfont.eot');
    src: url('../fonts/fsex300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fsex300-webfont.woff') format('woff'),
         url('../fonts/fsex300-webfont.ttf') format('truetype'),
         url('../fonts/fsex300-webfont.svg#FixedsysExcelsior301Regular') format('svg');
    -webkit-font-smoothing: aliased;
    font-smooth: never;
}

html {
  width: 100%;
}

#background {
/*   font-family: Courier, monospace; */
  font-family: 'FixedsysExcelsior', monospace;
  position: fixed;
  top: -5%;
  right: -10%;
  z-index: -1;
  overflow: hidden;
  font-size: 4.5px;
  animation-name: slide-bg;
  animation-duration: 3s;
  animation-delay: 2s;
}

@keyframes slide-bg {
  from {right: -100%;}
  to {right: -10%;}
}

body {
  font-family: Courier, monospace;
  margin: 1em, auto;
  max-width: 60%; 
  line-height: 1.6;
  font-size: 18px;
  color:#444;
}

h1, h2, h3 {
  line-height:1.2;
  font-family: 'FixedsysExcelsior';
  color: #444;
}

a {
  font-family: 'FixedsysExcelsior';
  color: black;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.site-header {
  background-color: #c9ffe5;
  margin: 1em;
  padding: .5em .5em .5em .5em;
  border: 3px solid;
  box-shadow: 5px 10px;
}

#disqus_thread {
  background-color: #FFF;
  margin: 1em;
  padding: 1em;
  border: 3px solid;
  box-shadow: 5px 10px;
}

.post-header {
  background-color: #c9ffe5;
  margin: 1em;
  padding: .5em .5em .5em .5em;
  border: 3px solid;
  box-shadow: 5px 10px;
}

.post-content {
  margin: 1em;
  padding: .5em;
  background-color: rgba(255,255,255,.85);
  border-radius: 25px
}

.footer {
  margin: 1em;
  padding: .5em;
  bottom: 0;
  background-color: #c9ffe5;
  border: 3px solid;
  box-shadow: 5px 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body {
    font-family: Courier, monospace;
    margin: 1em, auto;
    max-width: 100%; 
    line-height: 1.6;
    font-size: 18px;
    color:#444;
  }

  #background {
    display: none;
  }
}